<div class="main-container">
  <header class="header-2">
    <div class="branding">
      <a class="nav-link">
        <clr-icon shape="home" size="24"></clr-icon>
        <span class="title">File Upload</span>
      </a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area" style="display: flex">
      <app-file-upload
        style="display: flex; width: 50%; padding-right: 20px"
      ></app-file-upload>
      <div style="width: 50%">
        <app-file-progress style="height: 50%"></app-file-progress>
        <app-file-list style="height: 50%"></app-file-list>
      </div>
    </div>
  </div>
</div>
